<p id="notice"><%= notice %></p>

<p>
  <strong>Tq number:</strong>
  <%= @type_question.tq_number %>
</p>

<p>
  <strong>Tq question:</strong>
  <%= @type_question.tq_question %>
</p>

<p>
  <strong>Tq level:</strong>
  <%= @type_question.tq_level %>
</p>

<p>
  <strong>Tq answer:</strong>
  <%= @type_question.tq_answer %>
</p>

<p>
  <strong>Tq explanation 1:</strong>
  <%= @type_question.tq_explanation_1 %>
</p>

<p>
  <strong>Tq explanation 2:</strong>
  <%= @type_question.tq_explanation_2 %>
</p>

<p>
  <strong>Tq related concept 1:</strong>
  <%= @type_question.tq_related_concept_1 %>
</p>

<p>
  <strong>Tq related concept 2:</strong>
  <%= @type_question.tq_related_concept_2 %>
</p>

<p>
  <strong>Tq related concept 3:</strong>
  <%= @type_question.tq_related_concept_3 %>
</p>

<p>
  <strong>Tq related concept 4:</strong>
  <%= @type_question.tq_related_concept_4 %>
</p>

<p>
  <strong>Tq type number:</strong>
  <%= @type_question.tq_type_number %>
</p>

<p>
  <strong>Tq type title:</strong>
  <%= @type_question.tq_type_title %>
</p>

<%= link_to 'Edit', edit_type_question_path(@type_question) %> |
<%= link_to 'Back', type_questions_path %>
