<p id="notice"><%= notice %></p>

<p>
  <strong>Cu number:</strong>
  <%= @concept_unit.cu_number %>
</p>

<p>
  <strong>Cu title:</strong>
  <%= @concept_unit.cu_title %>
</p>

<p>
  <strong>Cu description:</strong>
  <%= @concept_unit.cu_description %>
</p>

<p>
  <strong>Cu level:</strong>
  <%= @concept_unit.cu_level %>
</p>

<p>
  <strong>Cu concept:</strong>
  <%= @concept_unit.cu_concept %>
</p>

<p>
  <strong>Cu explanation 1:</strong>
  <%= @concept_unit.cu_explanation_1 %>
</p>

<p>
  <strong>Cu explanation 2:</strong>
  <%= @concept_unit.cu_explanation_2 %>
</p>

<p>
  <strong>Cu reference 1:</strong>
  <%= @concept_unit.cu_reference_1 %>
</p>

<p>
  <strong>Cu reference 2:</strong>
  <%= @concept_unit.cu_reference_2 %>
</p>

<p>
  <strong>Exercise blpr 1:</strong>
  <%= @concept_unit.exercise_blpr_1 %>
</p>

<p>
  <strong>Exercise blan 1:</strong>
  <%= @concept_unit.exercise_blan_1 %>
</p>

<p>
  <strong>Exercise blpr 2:</strong>
  <%= @concept_unit.exercise_blpr_2 %>
</p>

<p>
  <strong>Exercise blan 2:</strong>
  <%= @concept_unit.exercise_blan_2 %>
</p>

<p>
  <strong>Exercise blpr 3:</strong>
  <%= @concept_unit.exercise_blpr_3 %>
</p>

<p>
  <strong>Exercise blan 3:</strong>
  <%= @concept_unit.exercise_blan_3 %>
</p>

<p>
  <strong>Exercise rwpr 1:</strong>
  <%= @concept_unit.exercise_rwpr_1 %>
</p>

<p>
  <strong>Exercise rwan 1:</strong>
  <%= @concept_unit.exercise_rwan_1 %>
</p>

<p>
  <strong>Exercise rwpr 2:</strong>
  <%= @concept_unit.exercise_rwpr_2 %>
</p>

<p>
  <strong>Exercise rwan 2:</strong>
  <%= @concept_unit.exercise_rwan_2 %>
</p>

<%= link_to 'Edit', edit_concept_unit_path(@concept_unit) %> |
<%= link_to 'Back', concept_units_path %>
