<p id="notice"><%= notice %></p>

<p>
  <strong>Aq number:</strong>
  <%= @actual_question.aq_number %>
</p>

<p>
  <strong>Aq question:</strong>
  <%= @actual_question.aq_question %>
</p>

<p>
  <strong>Aq level:</strong>
  <%= @actual_question.aq_level %>
</p>

<p>
  <strong>Aq level name:</strong>
  <%= @actual_question.aq_level_name %>
</p>

<p>
  <strong>Aq level de1:</strong>
  <%= @actual_question.aq_level_de1 %>
</p>

<p>
  <strong>Aq level de2:</strong>
  <%= @actual_question.aq_level_de2 %>
</p>

<p>
  <strong>Aq explanation 1 1:</strong>
  <%= @actual_question.aq_explanation_1_1 %>
</p>

<p>
  <strong>Aq explanation 1 2:</strong>
  <%= @actual_question.aq_explanation_1_2 %>
</p>

<p>
  <strong>Aq explanation 1 3:</strong>
  <%= @actual_question.aq_explanation_1_3 %>
</p>

<p>
  <strong>Aq explanation 1 4:</strong>
  <%= @actual_question.aq_explanation_1_4 %>
</p>

<p>
  <strong>Aq explanation 1 5:</strong>
  <%= @actual_question.aq_explanation_1_5 %>
</p>

<p>
  <strong>Aq explanation 2 1:</strong>
  <%= @actual_question.aq_explanation_2_1 %>
</p>

<p>
  <strong>Aq explanation 2 2:</strong>
  <%= @actual_question.aq_explanation_2_2 %>
</p>

<p>
  <strong>Aq explanation 2 3:</strong>
  <%= @actual_question.aq_explanation_2_3 %>
</p>

<p>
  <strong>Aq explanation 2 4:</strong>
  <%= @actual_question.aq_explanation_2_4 %>
</p>

<p>
  <strong>Aq explanation 2 5:</strong>
  <%= @actual_question.aq_explanation_2_5 %>
</p>

<p>
  <strong>Aq explanation 3 1:</strong>
  <%= @actual_question.aq_explanation_3_1 %>
</p>

<p>
  <strong>Aq explanation 3 2:</strong>
  <%= @actual_question.aq_explanation_3_2 %>
</p>

<p>
  <strong>Aq explanation 3 3:</strong>
  <%= @actual_question.aq_explanation_3_3 %>
</p>

<p>
  <strong>Aq explanation 3 4:</strong>
  <%= @actual_question.aq_explanation_3_4 %>
</p>

<p>
  <strong>Aq explanation 3 5:</strong>
  <%= @actual_question.aq_explanation_3_5 %>
</p>

<p>
  <strong>Aq source type:</strong>
  <%= @actual_question.aq_source_type %>
</p>

<p>
  <strong>Aq source at:</strong>
  <%= @actual_question.aq_source_at %>
</p>

<%= link_to 'Edit', edit_actual_question_path(@actual_question) %> |
<%= link_to 'Back', actual_questions_path %>
