
<!-- <h1>Set#set103</h1>
<p>Find me in app/views/set/set103.html.erb</p> -->

<div id="dialog" title="Basic dialog">
			<%= image_tag("c120/c120-1e.png", class: "c120c", usemap: "#map1e")  %>
  		<p>This is an animated dialog which is useful for displaying information. The dialog window can be moved, resized and closed with the 'x' icon.</p>
</div>
<div id="dialogcha" title="Cha-Set">
			<%= image_tag("c120/c120-1c.png", class: "c120c") %>
</div>

<button id="opener">Open Dialog</button>

<div class="cimage">
	<%= image_tag("c120/c120t.png", class: "c120c c120t") %>
</div>
<div class="cimage level1">
  <div class="lev1">
	<%= image_tag("c120/c120-1c.png", class: "c120c lev1", usemap: "#map1c") %>
		<map id="map1c" name="map1c">
		<area shape="rect" id="cha" title="합집합의 정의" coords="80,280,124,294" />
		<area shape="rect" title="차집합의 정의" coords="80,300,125,316" />
		</map>
  </div>
  <div class="lev1">
	<%= image_tag("c120/c120-1e.png", class: "c120c lev1", usemap: "#map1e")  %>
		<map id="#map1e" name="#map1e">
		<area shape="rect" title="차집합의 정의" coords="165,30,211,47" />
		</map>
</div>
<div class="cimage level2">
  </div>
  <div class="lev2">
	<%= image_tag("c120/c120-2c.png", class: "c120c lev2", usemap: "#map2c") %>
		<map id="map2c" name="map2c">
		<area shape="rect" title="차집합의 성질" coords="80,288,125,304" />
		<area shape="rect" title="드 모르간의 법칙" coords="80,309,127,326" />
		</map>
  </div>
  <div class="lev2">
	<%= image_tag("c120/c120-2e.png", class: "c120c lev2", usemap: "#map2e") %>
		<map id="map2e" name="map2e">
		<area shape="rect" title="차집합의 성질" coords="109,75,153,93" />
		<area shape="rect" title="차집합의 성질" coords="156,248,199,265" />
		<area shape="rect" title="드 모르간의 법칙" coords="320,247,362,267" />
		</map>
</div>
<div class="cimage level3">
  </div>
  <div class="lev3">
	<%= image_tag("c120/c120-3c.png", class: "c120c c120-3c  lev3", usemap: "#map3c") %>
		<map id="map3c" name="map3c">
		<area shape="rect" title="집합의 증명방법" coords="80,410,124,425" />
		<area shape="rect" title="사칙연산법칙" coords="79,431,125,445" />
		<area shape="rect" title="집합의 연산법칙" coords="78,451,125,468" />
		<area shape="rect" title="일반 연산의 항등원과 역원" coords="78,474,128,489" />
		</map>
  </div>
  <div class="lev3">
	<%= image_tag("c120/c120-3e.png", class: "c120c lev3", usemap: "#map3e") %>
		<map id="map3e" name="map3e">
		<area shape="rect" title="집합 연산의 증명방법" coords="358,95,401,110" />
		<area shape="rect" title="일반연산의 항등원과 역원" coords="166,181,229,197" />
		<area shape="rect" title="사칙연산법칙" coords="94,203,161,219" />
		<area shape="rect" title="집합의 연산법칙" coords="290,202,360,219" />
		<area shape="rect" title="일반 연산법칙" coords="147,225,189,240" />
		<area shape="rect" title="상등" coords="214,656,265,673" />
		</map>
</div>
<div class="cimage">
	<%= image_tag("c120/c120et.png", class: "c120c etitle") %>
</div>
<div class="cimage">
	<div class="epimage ep1">
    <div class="lev1">
		<%= image_tag("c120/c120e11.png", class: "c120ep lev1", usemap: "#mape11") %>
			<map id="mape11" name="mape11">
			<area shape="rect" coords="402,52,422,68" />
			</map>
  	<%= image_tag("c120/c120e11a.png", class: "c120ep answer c120e11a") %>
    </div>
    <div class="lev1">
  	<%= image_tag("c120/c120e12.png", class: "c120ep lev1", usemap: "#mape12") %>
  		<map id="mape12" name="mape12">
  		<area shape="rect" coords="402,30,421,46" />
  		</map>
  	<%= image_tag("c120/c120e12a.png", class: "c120ep answer c120e12a") %>
    </div>
    <div class="lev2">
  	<%= image_tag("c120/c120e13.png", class: "c120ep lev2", usemap: "#mape13") %>
  		<map id="mape13" name="mape13">
  		<area shape="rect" coords="402,51,423,68" />
  		</map>
  	<%= image_tag("c120/c120e13a.png", class: "c120ep answer c120e13a") %>
    </div>
    <div class="lev3">
  	<%= image_tag("c120/c120e14.png", class: "c120ep lev3", usemap: "#mape14") %>
  		<map id="mape14" name="mape14">
  		<area shape="rect" coords="401,31,421,48" />
  		</map>
  	<%= image_tag("c120/c120e14a.png", class: "c120ep answer c120e14a") %>
    </div>
    <div class="lev3">
  	<%= image_tag("c120/c120e15.png", class: "c120ep lev3", usemap: "#mape15") %>
  		<map id="mape15" name="mape15">
  		<area shape="rect" coords="401,32,420,47" />
  		</map>
  	<%= image_tag("c120/c120e15a.png", class: "c120ep answer c120e15a") %>
	</div>
	<div class="epimage ep2">
    <div class="lev2">
		<%= image_tag("c120/c120e21.png", class: "c120ep lev2", usemap: "#mape21") %>
			<map id="mape21" name="mape21">
			<area shape="rect" coords="402,55,421,72" />
			</map>
  	<%= image_tag("c120/c120e21a.png", class: "c120ep answer c120e21a") %>
    </div>
    <div class="lev2">
  	<%= image_tag("c120/c120e22.png", class: "c120ep lev2", usemap: "#mape22") %>
  		<map id="mape22" name="mape22">
  		<area shape="rect" coords="403,30,423,48" />
  		</map>
  	<%= image_tag("c120/c120e22a.png", class: "c120ep answer c120e22a") %>
    </div>
    <div class="lev2">
  	<%= image_tag("c120/c120e23.png", class: "c120ep lev2", usemap: "#mape23") %>
  		<map id="mape23" name="mape23">
  		<area shape="rect" coords="403,30,422,48" />
  		</map>
  	<%= image_tag("c120/c120e23a.png", class: "c120ep answer c120e23a") %>
	</div>
</div>
<div class="cimage">
	<%= image_tag("c120/c120pt.png", class: "c120c ptitle") %>
</div>
<div class="cimage">
	<div class="epimage ep1">
    <div class="lev3">
		<%= image_tag("c120/c120p1.png", class: "c120ep lev3", usemap: "#mapp1") %>
			<map id="mapp1" name="mapp1">
			<area shape="rect" coords="402,206,421,224" />
			</map>
  	<%= image_tag("c120/c120p1a.png", class: "c120ep answer c120p1a") %>
    </div>
  </div>
  <div class="epimage ep2">
    <div class="lev2">
  	<%= image_tag("c120/c120p2.png", class: "c120ep lev2", usemap: "#mapp2") %>
  		<map id="mapp2" name="mapp2">
  		<area shape="rect" coords="405,140,424,156" />
  		</map>
  	<%= image_tag("c120/c120p2a.png", class: "c120ep answer c120p2a") %>
    </div>
  </div>
</div>
<div class="cimage">
  <div class="epimage ep1">
    <div class="lev3">
  	<%= image_tag("c120/c120p3.png", class: "c120ep lev3", usemap: "#mapp3") %>
  		<map id="mapp3" name="mapp3">
  		<area shape="rect" coords="404,75,422,91" />
  		</map>
  	<%= image_tag("c120/c120p3a.png", class: "c120ep answer c120p3a") %>
    </div>
  </div>
  <div class="epimage ep2">
    <div class="lev1">
  	<%= image_tag("c120/c120p41.png", class: "c120ep lev1", usemap: "#mapp41") %>
  		<map id="mapp41" name="mapp41">
  		<area shape="rect" coords="403,55,420,70" />
  		</map>
  	<%= image_tag("c120/c120p41a.png", class: "c120ep answer c120p41a") %>
    </div>
    <div class="lev1">
  	<%= image_tag("c120/c120p42.png", class: "c120ep lev1", usemap: "#mapp42") %>
  		<map id="mapp42" name="mapp42">
  		<area shape="rect" coords="400,8,419,23" />
  		</map>
  	<%= image_tag("c120/c120p42a.png", class: "c120ep answer c120p42a") %>
    </div>
    <div class="lev1">
  	<%= image_tag("c120/c120p43.png", class: "c120ep lev1", usemap: "#mapp43") %>
  		<map id="mapp43" name="mapp43">
  		<area shape="rect" coords="402,9,421,25" />
  		</map>
  	<%= image_tag("c120/c120p43a.png", class: "c120ep answer c120p43a") %>
    </div>
    <div class="lev3">
  	<%= image_tag("c120/c120p44.png", class: "c120ep lev3", usemap: "#mapp44") %>
  		<map id="mapp44" name="mapp44">
  		<area shape="rect" coords="402,32,421,49" />
  		</map>
  	<%= image_tag("c120/c120p44a.png", class: "c120ep answer c120p44a") %>
    </div>
	</div>
</div>
	