<!doctype html>
<html lang="en">
  <head>
    <title> Math1 </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <!-- <link rel="stylesheet" href="/resources/demos/style.css"> -->

    <%= stylesheet_link_tag 'reset', 'application', media: 'all', 
      'data-turbolinks-track' => true %> 
    <%= javascript_include_tag 'application' %>
<!--
    <link rel="stylesheet" type="text/css" href="default.css">
-->   
  
    <%= csrf_meta_tags %>

  <script>
  $(function() {
       console.log('ready dialog');
       $( "#dialog" ).dialog({
         autoOpen: false,
         show: {
           effect: "blind",
           duration: 1000
         },
         hide: {
           effect: "explode",
           duration: 1000
         }
       });
 
       $( "#opener" ).click(function() {
         console.log('ready dialog click')
         // $('#dialog').css({'display':'block'});
         $( "#dialog" ).dialog( "open" );
       });
      });
  // $(function() {
  //   console.log('2');
  //   alert('dialog');
  //   $( "#dialog" ).dialog();
  // });
  </script>
</head>
<body>
 
<div id="dialog" title="Basic dialog">
  <p>This is the default dialog which is useful for displaying information. The dialog window can be moved, resized and closed with the 'x' icon.</p>
</div>
<button id="opener">Open Dialog</button>

<script type="text/javascript">
  console.log('1');
</script>
 <div id="wrap">
    <header class="header">
      <div class="brand">
        <a class="brand" href="/"><b><i>Eureka Math</i></b></a>
      </div>
      <div class="nav-collapse">
        <ul>
          <li class="main-menu-study-project"><a href="#">Project 개요 </a></li>
          <li class="main-menu-study-category"><a data-toggle="dropdown" class="dropdown-toggle" href="#"><%= @category_name %></a>
          </li>
          <li class="main-menu-study-cummunity"><a href="#">Community </a></li>
          <li class="main-menu last"><a href="#"><i><%= @user.username %></i></a></li>
        </ul>
      </div>
      <div class="button">
        <button type="button" class="navbar-toggle">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
       </div>
    </header>
    <li class="divider"></li>
    <script>
      // $('div.button').css({'display':'none'});
      console.log('study2');
      var wind = $(window).width();
      console.log(wind)
      if (wind < 768 ) {
        $('div.button').css({'display':'none'});
        $('div.nav-collapse').css({'display':'inline', 'padding-left':'14%'});
        $('li.main-menu-study-project').css({'display':'none'});
        $('li.main-menu-study-cummunity').css({'display':'none'});
        $('li.main-menu-study-category').css({'text-align':'left'})
        $('li.main-menu.last').css({'float':'right', 'text-align':'left', 'padding-right':'10%'});
        $('li.main-menu.last i').css({'color':'blue'});
      }
      $('li.main-menu-study-project').css({'visibility':'hidden'});
      $('li.main-menu-study-cummunity').css({'visibility':'hidden'});
      // $('li.main-menu-study-category').click(function(){
      //    console.log('study-category-click');
      //  });
      
    </script>
    <!-- <hr /> -->
      
      <div class="set-list">
        <ul class="dropdown-set-list">
          <li><a href="#">101 집합과 원소</a></li>
          <li class="divider"></li>
          <li><a href="/set/home?1">102 집합과 원소</a></li>
          <li class="divider"></li>
          <li><a href="/set/home?2">103 대칭차집합</a></li>
          <li class="divider"></li>
          <li><a href="#">104 집합과 원소</a></li>
          <li class="divider"></li>
          <li><a href="#">105 집합과 원소</a></li>
          <li class="divider"></li>
          <li><a href="#">106 집합과 원소</a></li>
          <li class="divider"></li>
          <li><a href="#">107 집합과 원소</a></li>
          <li class="divider"></li>
          <li><a href="#">108 집합과 원소</a></li>
          <li class="divider"></li>
          <li><a href="#">109 집합과 원소</a></li>
          <li class="divider"></li>
          <li><a href="#">110 집합과 원소</a></li>
          <li class="divider"></li>
          <li><a href="#">111 집합과 원소</a></li>
          <li class="divider"></li>
          <li><a href="#">112 집합과 원소</a></li>
          <li class="divider"></li>
          <li><a href="#">113 집합과 원소</a></li>
          <li class="divider"></li>
          <li><a href="#">114 집합과 원소</a></li>
          <li class="divider"></li>
          <li><a href="#">115 집합과 원소</a></li>
          <li class="divider"></li>
          <li><a href="#">116 집합과 원소</a></li>
          <li class="divider"></li>
          <li><a href="#">117 집합과 원소</a></li>
          <li class="divider"></li>
          <li><a href="#">118 집합과 원소</a></li>
          <li class="divider"></li>
          <li><a href="#">119 집합과 원소</a></li>
          <li class="divider"></li>
          <li><a href="#">120 집합과 원소</a></li>
          <li class="divider"></li>
          <li><a href="#">121 집합과 원소</a></li>
          <li class="divider"></li>
          <li><a href="#">Type 01</a></li>
          <li class="divider"></li>
          <li><a href="#">Type 02</a></li>
          <li class="divider"></li>
          <li><a href="#">Type 03</a></li>
          <li class="divider"></li>
          <li><a href="#">Type 04</a></li>
          <li class="divider"></li>
          <li><a href="#">Drill  1</a></li>
          <li class="divider"></li>
          <li><a href="#">Drill  2</a></li>
          <li class="divider"></li>
          <li><a href="#">Drill  3</a></li>
          <li class="divider"></li>
          <li><a href="#">Drill  4</a></li>
        </ul>
      </div>
      <script>
      $('div.set-list').css({'display':'none'})
      var txt = ""
        $('ul.dropdown-set-list li a').each(function(){
          txt = $(this).text();
          $(this).html("&nbsp&nbsp&nbsp&nbsp" + txt + "&nbsp&nbsp&nbsp" );
        });
          // console.log(this)
        console.log('hello study set2');
        var $win = $(window);
        var wind = $(window).height()*0.75;
        var bod = $('body').height();
        console.log(wind);
        console.log(bod);
        $('div.set-list').css({'height':wind});
        $('div.set-list').css({'visibility':'visible'});
        $('div.set-list ul.dropdown-set-list').css({'visibility':'visible'});
        // $('div.set-list').css({'visibility':'hidden'});
        // $('div.set-list').css({'visibility':'visible'});
        $('li.main-menu-study-category').click(function(){
          console.log('toggle');
          $('div.set-list').slideToggle('slow');
        });
      </script>
    <!-- <section class="project">
    <main class="bs-docs-masthead" id="content" role="main" tabindex="-1">
  
      <div class="container">
        <span class="bs-docs-booticon bs-docs-booticon-lg bs-docs-booticon-outline">E</span>
        <h1>Eureka Math!</h1><br>
        <p>수학이 점점 더 쉽고 재미(fun) 있어져, 학생 스스로(self) 수학을 통해 자기의 꿈(dream)을 실현해 가는 청소년 희망 프로젝트</p>
      </div>
    </main>
    </section> -->
    
    
    
    
    <%= yield %> 

    <script type="text/javascript">

      var wind = $(window).width();
      if (wind > 768) {
        var con = 437*2;
        var percent = (1-con/wind)/2*wind;

        console.log("center margin");
        console.log(wind);
        console.log(con);
        console.log(percent);
        $('div.cimage').css({'margin-left':percent});
        // $('div.cimage img.epimage:even').css({'float':'right'})
      };
      cwind = 437;
      console.log(cwind);
      // if (cwind > wind) {
      //  console.log("hel");
      //  var percent = wind-10;
      //  $('img.c120c, img.c120ep').css({'width':percent});
      //  $('div.epimage').css({'width':percent});
      // };
      $('#mape11').click(function(){$('img.c120e11a').slideToggle('fast');});
      $('#mape12').click(function(){$('img.c120e12a').slideToggle('fast');});
      $('#mape13').click(function(){$('img.c120e13a').slideToggle('fast');});
      $('#mape14').click(function(){$('img.c120e14a').slideToggle('fast');});
      $('#mape15').click(function(){$('img.c120e15a').slideToggle('fast');});
      $('#mape21').click(function(){$('img.c120e21a').slideToggle('fast');});
      $('#mape22').click(function(){$('img.c120e22a').slideToggle('fast');});
      $('#mape23').click(function(){$('img.c120e23a').slideToggle('fast');});
      $('#mapp1').click(function(){$('img.c120p1a').slideToggle('fast');});
      $('#mapp2').click(function(){$('img.c120p2a').slideToggle('fast');});
      $('#mapp3').click(function(){$('img.c120p3a').slideToggle('fast');});
      $('#mapp41').click(function(){$('img.c120p41a').slideToggle('fast');});
      $('#mapp42').click(function(){$('img.c120p42a').slideToggle('fast');});
      $('#mapp43').click(function(){$('img.c120p43a').slideToggle('fast');});
      
    </script>
    <br>
    <br>
    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert"><%= alert %></p>
    <% end %>
    <br>
    <br>
    <br>
    <br>
    <!-- <div id="dialog" title="Basic dialog">
      <p>This is an animated dialog which is useful for displaying information. The dialog window can be moved, resized and closed with the 'x' icon.</p>
    </div>
 
    <button id="opener">Open Dialog</button> -->
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    
  </div>
  <br>
  <hr />
  <footer class="footer">
      <p>copyright&copy; 2015 Eureka Math Lab all rights reserved.</p>
  </footer>
  <script>
  // $('div#dialog').reload();
    // location.reload();
  </script>
 
</body>
</html>